{% extends 'base.html.twig' %}

{% block title %}Changement du mot de passe{% endblock %}

{% block body %}
<h1>Changement du mot de passe</h1>

{{ form_start(form) }}
{{ form_rest(form) }}
<div class="form-options">
    <button>Valider</button>
</div>
{{ form_end(form) }}
{% endblock %}