<section id="apropos">
    <h1>A propos</h1>
    <div class="section-content">
        <p>Avec une communauté florissante de plus de 700 élèves passionnés, DYST accompagne les
            débutants et
            les experts dans leur parcours vers la réussite. L'école va au-delà de la simple formation en
            offrant un
            accompagnement personnalisé à chaque étape de votre cheminement. Grâce à une expertise inégalée et
            une
            approche
            pédagogique novatrice, DYST vous donne les clés pour maîtriser les marchés. Que vous souhaitiez
            améliorer
            vos
            compétences de trading, générer des revenus supplémentaires ou réussir un ftmo challenge faites
            confiance à
            DYST pour vous guider vers le succès. <br />
            Votre destin financier commence ici.
        </p>
    </div>
</section>