<section id="contact">
    <h1>Contactez-nous</h1>
    <div class="section-content">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="form-options">
            <button>Envoyer</button>
        </div>
        {{ form_end(form) }}
    </div>
</section>