<section id="networks">
    <h1>Rejoignez-nous</h1>
    <ul class="section-content">
        <li><a href="http://www.twitter.fr" title="X - Twitter"><i class="fa-brands fa-x-twitter"></i></a>
        </li>
        <li><a href="http://www.facebook.fr" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="http://www.instagram.fr" title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="http://www.discord.fr" title="Discord"><i class="fa-brands fa-discord"></i></a></li>
    </ul>
</section>