<div id="presentation">
    <div class="presentation-block">
        <div id="presentation-left">
            <img id="logo-big" src="{{ asset('build/assets/images/Logo.jpg')}}">
            <p>
                - Formation trading 100% en ligne<br />
                - Initiation au trading<br />
                - Accompagnement individuel<br />
                - Communauté d'entraide<br />
                - Accès aux replay
            </p>
        </div>
    </div>
    <div class="presentation-block">
        <div id="presentation-right">
            <img src="{{ asset('build/assets/images/TradePersonne.png')}}">
        </div>
    </div>
</div>