@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;

$dancing-script: 'Dancing Script', cursive;

$advent-pro: 'Advent Pro', sans-serif;