{% extends "@email_templates/base.html.twig" %}

{% block title %}
Réinitialiser le mot de passe
{% endblock title %}

{% block body %}
{% apply inline_css(source('@email_css/welcome.css')) %}
<h1>Bonjour,</h1>

<p>Pour réinitialiser votre mot de passe, merci de suivre le lien ci-dessous :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token:
    resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData,
    'ResetPasswordBundle') }}.</p>

<p>A très bientôt sur DYST !</p>
{% endapply %}
{% endblock body %}