// colors
$bg-main: azure;
$bg-secondary: white;
$bg-highlight: lightskyblue;

$text-main: dodgerblue;
$text-highlight: lightskyblue;
$text-link: royalblue;
$text-error: crimson;

$text-highlight: darkblue;
$text-highlight-link: aliceblue;

$border-highlight: dodgerblue;

$transparency: rgba(255, 255, 255, 0.75);

// shadows
$thin-shadow: 2px 1px 2px 1px rgba(0, 127, 255, 0.2);
$large-shadow: 4px 4px 3px 3px rgba(0, 127, 255, 0.25);
$separator-shadow: 0 1px 0 0 rgba(0, 127, 255, 0.25);